asgiref==3.11.1
Django==6.0.7
djangorestframework==3.17.1
django-filter
psycopg2-binary
sqlparse==0.5.5
gunicorn==23.0.0
tzdata==2026.3
django-environ
djoser
djangorestframework-simplejwt
django-cors-headers
drf-spectacular
django-anymail
apscheduler==3.10.4
django-apscheduler==0.6.2
uvicorn[standard]==0.34.3
whitenoise
sendgrid
